@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #e6ccff;
}

@custom-variant dark (.dark &);

::-webkit-scrollbar {
  display: none;
}

.rest-tw :not(pre):not(code){
  all: revert;
}

.loader div:nth-child(2){
  animation-delay: 0.2s;
}

.loader div:nth-child(3){
  animation-delay: 0.4s;
}
